body {
    background-color:#f2eedf;
}

hr {
    
    border-top: dotted #f57b51;
    border-bottom: none;
    border-left: none;
    border-right:none;
    border-width:5px;
    height:1px;
    width:20%;
}
h1 {
    color:#D63447;
    }
h3 {
color:#D63447;
}